header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    padding: 1rem;
}

.logo a{
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
}

.menu-trigger{
    width: 32px;
    border: none;
    background: none;
    cursor: pointer;
}

.menu-trigger span{
    display: block;
    height: 3px;
    background: #fff;
    margin-top:4px;
}

header .navbar{
    position: fixed;
    right:-500px;
    top: 0;
    height:100%;
    background: #fff;
    width: 300px;
    text-align: left;
    padding: 70px 20px;
    transition:all 500ms ease-in-out;
}

.openMenu .navbar{
    display: block !important;
    right: 0;
}

.close-trigger{
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 99;
}

.close-trigger span{
    display: block;
    height: 3px;
    background: #555;
    margin-top:4px;
    width: 100%;
    position: absolute;
    top: 20px;
    right: 15px;
}

.close-trigger span:first-child{
    transform: rotate(45deg);
}

.close-trigger span:last-child{
    transform: rotate(-45deg);
}

.navbar .navbar-nav .nav-item .nav-link{
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
    color: #212529;
}

.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #01d28e;
}